@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


body {
	width:1920px;
	height:900px;
	background-color:#FFC300;
	margin: auto;
}

h3 {
	width:1000px;
	height:60px;
	background-color:#FFC300;
	margin:auto;
	text-align:center;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 45px;
	
}

#essai{
	
	width:1000px;
	height:30px;
	background-color: #FFC300;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	margin:auto;
	margin-top: 10px;
	font-family: 'Mochiy Pop P One', sans-serif ;
}

#mot {
	
	width:800px;
	height:90px;
	background-color:#FFC300;
	margin:auto;
	text-align:center;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 40px;
	
}

#submit1{
	width: 140px;
	height:50px;
	font-family: 'Mochiy Pop P One', sans-serif ;
	color: white;
	font-size: 30px;
	border-radius: 20px;
	background-color: rgb(245, 11, 11);
	box-shadow: 10px 10px 10px 0px black;
	
}

#msgAlert {
	margin:auto;
	width:1500px;
	height:200px;
	background-color:#FFC300;
	text-align:center;
	font-family: 'Arial black', sans-serif ;
	font-size: 25px;
	color: rgb(7, 7, 7);
}

#lettres{
	width:400px;
	height:70px;
	background-color: #FFC300;
	float:left;
	margin-left:100px;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 25px;
	text-align: center;
}

#victPic {
	width:350px;
	height:200px;
}


#mot2 {
	margin-top: 60px;
	margin:auto;
	width:500px;
	height:70px;
	background-color:#FFC300;
	text-align:center;
	
}


#msgGood {
	margin-top: 60px;
	margin:auto;
	width:500px;
	height:70px;
	background-color:#FFC300;
	text-align:center;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 30px;
}

#msgBad {
	margin-top: 60px;
	margin:auto;
	width:500px;
	height:70px;
	background-color:#FFC300;
	text-align:center;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 30px;
}

#bouton2 {
	margin:auto;
	width:1000px;
	height:50px;
	background-color: #FFC300;
	visibility: hidden;
	text-align: center;
}

#submit2 {
	
	width:860px;
	height:60px;
	font-family: 'Mochiy Pop P One', sans-serif ;
	color: white;
	font-size: 30px;
	border-radius: 20px;
	background-color: rgb(245, 11, 11);
	box-shadow: 10px 10px 10px 0px black;

}

#winOrLose {
	margin:auto;
	margin-top:30px;
	width:1000px;
	height:100px;
	background-color:#FFC300;
	text-align:center;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 40px;
	
}

#defPic {
	width:450px;
	height:200px;
}

#reessayer{
	margin:auto;
	margin-top:20px;
	width:1000px;
	height:100px;
	background-color:#FFC300;
	text-align:center;
	font-family: 'Mochiy Pop P One', sans-serif ;
	font-size: 100px;
	visibility:hidden;
}

#submit3{
	width:260px;
	height:50px;
	font-family: 'Mochiy Pop P One', sans-serif ;
	color: white;
	font-size: 30px;
	border-radius: 20px;
	background-color: rgb(245, 11, 11);
	box-shadow: 10px 10px 10px 0px black;
}

